<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de la moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img [src]= ""></ion-img>
  <!--<ion-label><span style="font-weight: 200; margin-left: 10px;">{{moto.marca}}</span><span> {{moto.model}}</span></ion-label>
  <p>Precio: {{moto.preu}}</p>
  <p>Año: {{moto.year}}</p>-->
  <ion-button (click) = "alertDelete(moto.id)">Borrar moto</ion-button>

</ion-content>
