<ion-header>
  <ion-toolbar>
    <ion-title>Afegir moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-content [fullscreen]="true" >
  <ion-list lines="full">
    <form [formGroup]="motoForm" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Foto</ion-label>
        <ion-input formControlName="foto" placeholder="Foto" type="text">
          <ion-icon name="camera-outline"></ion-icon></ion-input>
      </ion-item>
    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input formControlName="marca" placeholder="Marca" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Model</ion-label>
      <ion-input formControlName="model" placeholder="Model" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Any</ion-label>
      <ion-input formControlName="year" placeholder="Any" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Preu</ion-label>
      <ion-input formControlName="preu" placeholder="Preu" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit" block>Guardar moto</ion-button>
    </ion-item>
    
    </form>
  </ion-list>
</ion-content>
