
    <ion-menu side="start" menu-id="first" content-id="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>
            Motos
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <li *ngFor = "let marca of marcas" (click)="getMotosByMarca(marca.nombre)">
            <ion-img [src] = "marca.foto"></ion-img>
            <ion-label>{{marca.nombre}}</ion-label>
    
          </li>
          <ion-label (click) = getMotos();>Todas las motos</ion-label>
      </ion-list>
      </ion-content>
    </ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Escoge tu moto</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button expand="block" onclick="openMenu()"></ion-button>
      </ion-content>

<ion-content [fullscreen]="true" id="main-content">

  <ion-list class="listMotos">
    <li *ngFor = "let moto of motos" >
      <div (click)="detailMoto(moto.model)">
        <ion-thumbnail slot="start">
          <ion-img src={{moto.foto}}></ion-img>
        </ion-thumbnail>
        <ion-label><span style="font-weight: 200; margin-left: 10px;">{{moto.marca}}</span><span> {{moto.model}}</span></ion-label>
      </div>
      <ion-icon name="trash-outline" (click) = alertDelete(moto.id)></ion-icon>
    </li>
    
  </ion-list>
  <ion-fab vertical="end" horizontal="end" edge slot="fixed" routerLink = "/add-moto">
    <ion-fab-button color=dark >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
