#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.listMotos {
  margin-top: -280px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}
/*# sourceMappingURL=home.page.css.map */